# FLASK APP SETTINGS
APP_SETTINGS=config.DevelopmentConfig
APP_URL="https://example.com"

# DOMAIN INFO
DOMAIN=example.com
USERNAME=main

# Database
POSTGRES_USER=${USERNAME:-main}
POSTGRES_PASSWORD=strong_password
POSTGRES_DB=nightbot
POSTGRES_HOST=nightbot_db
POSTGRES_URL=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/${POSTGRES_DB}
PGDATA=/data/db

DATABASE_URL=${POSTGRES_URL}

# Google OAUTH2
GOOGLE_CLIENT_ID="YOUR_CLIENT_ID"
GOOGLE_CLIENT_SECRET="YOUR_CLIENT_SECRET"

# GitHub OAUTH2
GITHUB_CLIENT_ID="YOUR_CLIENT_ID"
GITHUB_CLIENT_SECRET="YOUR_CLIENT_SECRET"


# Twitch OAUTH2
TWITCH_CLIENT_ID="YOUR_CLIENT_ID"
TWITCH_CLIENT_SECRET="YOUR_CLIENT_SECRET"