<!doctype html>
<html class="bg-zinc-400 dark:bg-zinc-700">
    <head>
        <title>modPIPE Streamer Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/modpipe.css">
        <link rel="shortcut icon" href="/img/favicon.ico">
        <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="min-h-screen">

        {% include "nav.html" %}

        <main id="content_section" class="min-h-full">

        {% block content %}
        {% endblock %}

        </main>

        {% include "footer.html" %}
        
        <!-- // logic to include modals //-->
        {% if current_user.is_authenticated == True %}
            {% if request.path == "/modpipe/dashboard" %}
                {% include "new_command.html" %}
                {% include "config.html" %}
            {% endif %}
        {% endif %}
        {% if current_user.is_authenticated != True %}
            {% include "login.html" %}
        {% endif %}
        {% if request.args.get('welcome') %}
            {% include "welcome.html" %}
        {% endif %}


        <!-- // Logic to include javascript files // -->
        <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
        {% if current_user.is_authenticated != True %}
        <script src="/js/login.js"></script>
        {% endif %}
        {% if request.args.get('welcome') %}
        <script src="/js/welcome.js"></script>
        {% endif %}
        {% if request.path == "/modpipe/dashboard" %}
        <script src="/js/dashboard.js"></script>
        {% endif %}
        <script src="/js/nav.js"></script>
    </body>
</html>