{% extends "base.html" %}

{% block content %}

<!-- Example Dashboard -->

<section class="bg-white dark:bg-gray-900">
    <div id="dashboard_wrapper" class="py-8 px-4 mx-auto max-w-screen-xl text-center  lg:px-6">
        
        <!-- // CRUD Bar START // -->
        <div class="mx-auto mb-4">
        
            <div class="justify-between items-center pt-0 flex px-10 align-middle">

                <!-- // Left CRUD Controls // -->
                <div class="items-center sm:flex align-middle">
                    <!-- // Configure Button // -->
                    <button class="h-14 inline-flex items-center px-5 py-3 text-sm font-medium text-center
                            text-gray-900 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-300
                            fill-gray-900 dark:fill-gray-400
                            border-2 rounded-lg border-gray-500 dark:border-gray-400
                            hover:border-gray-400 hover:dark:border-gray-200"
                            id="edit_commands" type="button"
                            onclick="configModal.show()">Configure</button>
                </div>
                <!-- // Right CRUD Controls // -->
                <div class="items-center sm:flex align-middle">
                    <!-- // New Button // -->
                    <button class="h-14 inline-flex items-center px-5 py-3 ml-4 text-sm font-medium text-center
                            text-gray-900 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-300
                            fill-gray-900 dark:fill-gray-400
                            border-2 rounded-lg border-gray-500 dark:border-gray-400
                            hover:border-gray-400 hover:dark:border-gray-200"
                            id="new_command" type="button" onclick="showCommandModal()">New</button>
                </div>
            </div>
        </div>
        <!-- // CRUD Bar END // -->
        
        {% if commands|length < 1 %}
        <div class="w-full p-4 m-4 text-black dark:text-gray-100 text-2xl font-bold min-h-64 flex items-center">
            <p class="w-full text-center">
                It's awfully empty in here.  Try creating a new command!
            </p>
        </div>
        {% endif %}
        <!-- // Command Blocks START //-->
        <div id="dashboard_command_blocks" 
             class="grid gap-4 lg:gap-8 grid-cols-2 md:grid-cols-3 lg:grid-cols-4
             align-middle max-w-2/3 min-w-64 place-items-center">

            {% include 'dashboard/command_blocks.html' %}

        </div>  
    </div>
  </section>

{% endblock %}